body {
    text-align: center;
    background: url(http://previews.123rf.com/images/albund/albund1402/albund140200053/25788452-A-vintage-arcade-game-machine-with-colorful-controllers-and-a-screen-on-an-isolated-white-background-Stock-Photo.jpg);
    background-size: 1550px, 800px;
}
.heading{
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	font-size: 20px;
}
.container{
	margin-left: auto;
	margin-right: auto;
}
.restart-box {
  display: block;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0DE729;
  border-radius: 10px
}
#restart {
  color: white;
  height: auto;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-top: 0px;
  display: block;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
  font-weight: bold;
}
#restart:hover {
  background-color: #77D583;
}
#restart:focus {
  background-color: #77D583;
  outline: 0;
}
#restart:active {
  background-color: #77D583)
  }